<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.github.xiguadoudou.xiaocan.noads" android:versionCode="4" android:versionName="0.4">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
    <application android:label="小蚕去广告" android:description="@string/module_description" android:allowBackup="false" android:hasCode="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="适配小蚕惠生活 3.21.2：开屏、插屏、首页自动推广、原生广告容器及下拉二楼推广；请仅勾选小蚕惠生活。" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>
</manifest>
